body {
    font-family: 'Lucida Console', Monospace;
    background-color: #ffdcf7;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh; /* This makes the body take up the full viewport height */
}
.container {
    text-align: center;
}
h1 {
    background-color: #a8d2ff;
    color: rgb(5, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
a {
    display: inline-block;
    background-color: #fff4b3;
    color: rgb(139, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    background-color: #e6f2ff;
}
